<div class="map" style="background-image: url('https://source.unsplash.com/random/?houses')"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h2><%= @flat.name %></h2>
        <p><%= @flat.address %></p>
      </div>

      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p><%= @flat.description %></p>
      </div>

      <div class="flat-show-card">
        <h3>Details</h3>
        <i class="fa-solid fa-person"><%= @flat.number_of_guests %></i>
        <i class="fa-solid fa-euro-sign"><%= @flat.price_per_night %></i>
      </div>
    </div>
    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this place!</h5>
        <form action="">
          <div class ="input-group">
            <span class="input-group-text" id="start-date-label">From:</span>
            <input type="text" class="form-control" placeholder="24/02/2024" aria-label="start-date" aria-describedby="start-date-label">
          </div>
          <div class="input-group mt-2">
            <span class="input-group-text" id="end-date-label">To:</span>
            <input type="text" class="form-control" placeholder="29/02/2024" aria-label="end-date" aria-describedby="end-date-label">
          </div>
          <input type="submit" value="Book" class="btn btn-success mt-2" style="width: 100%">
        </form>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h5>Share</h5>
          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
            <i class="fa-brands fa-github-square me-2"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
